* { box-sizing: border-box; }

body{ 
    font-family:  'Gothic A1',Helvetica,Arial, sans-serif;
    margin: 3em 0 0 0;
    padding: 0;
}


.logo, .logo visited{
    color: #1C3238;
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}

nav{
    text-align: center;
}

.logo{
    font-size: 1.5em;
}

.bordered-text{
    width: 75%;
    background-color:rgba(255,255,255,0.75);
    color: #1C3238;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
}


header{
    z-index: -1;
    width: 100%;
    height: 300px;
    background-image: url('../img/medium-welcome.jpg');
    background-size: cover;
    padding: 1em;
    position: relative;
}

h1{
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;

}

header h1{
    padding: .5em;
}

.detail-header{
    background-image: url('../img/medium-detail.jpg');
}

.detail-header .bordered-text{
    position: absolute;
    bottom: 1em;
    left: 0;
    border-radius: 0 5px 5px 0;
    padding: 0;
    margin: 0;
}

.detail-header h1{
    padding: 0 0 0 1em;
}

.scroll-button{
    text-align: center;
    font-size: 2.5em;
    position: absolute;
    bottom: 10px;
    left: 50%;

}
.scroll-button i, .scroll-button i:visited{
    color: white;
}

h3{
    text-align: left;
    color: #1C3238;
    text-shadow: 1px black;
    margin-left: 1em;
}

#hamburger-menu i,#hamburger-menu i:visited{
    float: left;
    color: #1C3238;
    font-size: 1.5em;
}

#top-bar{
    z-index: 1;
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: block;
    background-color: rgba(255,255,255,0.75);

}

#top-bar ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#top-bar ul li a, #top-bar ul li a:visited{
    display:block;
    color:  #1C3238;
    text-decoration: none;
    margin-right: 1em;
}
/* Background gradient animation */
/* help from https://www.gradient-animator.com/ */

@-webkit-keyframes liveGradient {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes liveGradient  {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes liveGradient { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.moving-gradient{

    background: linear-gradient(3deg, #12a40e, #76b9d6);
    background-size: 400% 400%;

    -webkit-animation: liveGradient  9s ease infinite;
    -moz-animation: liveGradient  9s ease infinite;
    animation: liveGradient  9s ease infinite;

    width: 100%;
    height: 333px;
    padding: 3em 1em 1em 1em;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    /* Help from https://www.css-gradient.com/ */
    background: #729BB4;
    background: linear-gradient(to bottom, #729BB4, #1C3238);
    padding: 1em;

}

.card-container a{
    margin: auto;
}

.card{
    margin: 10px auto;
    flex-basis: 350px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card ul li, .card img{
    list-style: none;
    background-color:rgba(255,255,255,0.75);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 1.25em;
    padding: .5em;
    width: 75%;
    margin-bottom: 5px;
}

.card img{
    box-shadow: none;
    background-color: rgba(44,50,56,0.2);
}

.card ul li:hover{
    background-color:  #729BB4;
}

.card p, .card cite{
    padding: 1em;
    text-justify: distribute;
}


.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.options .card{
    background-color: navajowhite;
}

.form-submit,.form-submit:visited{
    display: block;
    width: fit-content;
    text-align: center;
    background-color: white;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    height: 3em;

}

.submit-container{
    margin: 1em auto;
    width: 100%;

}

.hike-photos{
    background-color: white;
    background-size: cover;
    margin: 0 auto 0 auto;
    
}
.hike-photos  img{
    margin:.5em auto;
}

.card h1{
    padding: .5em;
    margin-left: .5em;
    display: block;

}

.google-map{
width: 80%;
margin: auto;
}

.google-map iframe{
    width: 100%;
}

footer{
    text-align: center;
    padding: .5em;
    background-color: white;
}

/* Responsive Media Queries */
@media (min-width: 598px){
 header{
     height: 400px;
 }

 #hamburger-menu{
     display: none;
 }

 .logo{
     display: none;
 }

 #top-bar ul{
    display: flex;
    justify-content: left;
 }
}

@media (min-width: 768px){
    header{
        height: 500px;
    }

    .hike-photos{
        flex-grow: 1;
    }
}

@media (min-width: 1081px){

    .hike-description,.hike-detail,.hike-photos{
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 1em;
    }
    .card-container{
        padding: 0;
    }
    
    
}



