* { box-sizing: border-box; }

body{ 
    font-family:  'Gothic A1',Helvetica,Arial, sans-serif;
    margin: 3em 0 0 0;
    padding: 0;
}

h1{
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;

}

h2{
    text-align: left;
    color: #1C3238;
    text-shadow: 1px black;
    margin-left: 1em;
}

nav{
    text-align: center;
}

#top-bar{
    z-index: 10;
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: block;
    background-color: rgba(255,255,255,0.75);

}

/* Leaflet Mapping things */
#hikemap { 
    z-index: 1;
    height: 500px; 
    width: 100%;
    margin: auto;
    display: none;
}

.logo{
    font-size: 1.5em;
}

.logo, .logo:visited{
    color: #1C3238;
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}

.bordered-text{
    width: 75%;
    background-color:rgba(255,255,255,0.75);
    color: #1C3238;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
}


header{
    z-index: -1;
    width: 100%;
    height: 300px;
    background-image: url('../img/medium-welcome.jpg');
    background-size: cover;
    padding: 1em;
    position: relative;
}

header h1{
    padding: .5em;
}

/* Specifics for second page */
.detail-header{
    background-image: url('../img/medium-detail.jpg');
}

.detail-header .bordered-text{
    position: absolute;
    bottom: 1em;
    left: 0;
    border-radius: 0 5px 5px 0;
    padding: 0;
    margin: 0;
}

.detail-header h1{
    padding: 0 0 0 1em;
}

.options label{
    display: block;
    margin-top: 2em;
}

.scroll-button{
    text-align: center;
    font-size: 2.5em;
    position: absolute;
    bottom: 10px;
    left: 50%;

}
.scroll-button i, .scroll-button i:visited{
    color: white;
}

/* Background gradient animation */
/* help from https://www.gradient-animator.com/ */

@-webkit-keyframes liveGradient {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes liveGradient  {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes liveGradient { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.options{

    background: linear-gradient(3deg, #12a40e, #76b9d6);
    background-size: 400% 400%;

    -webkit-animation: liveGradient  18s ease infinite;
    -moz-animation: liveGradient  18s ease infinite;
    animation: liveGradient  18s ease infinite;

    width: 100%;
    padding: 3em 1em 1em 1em;
}

.options h2{
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: white;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    /* Help from https://www.css-gradient.com/
    /*background: #729BB4;
    background: linear-gradient(to bottom, #729BB4, #1C3238);
    */
    /*background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('../img/large-detail.jpg');
    */
    padding: 1em;

}

.hike-results{
    background: linear-gradient(to bottom, #729BB4, #1C3238);
}

.card-container a{
    margin: auto;
}

.card{
    margin: 10px auto;
    flex-basis: 350px;
}

.hike-results .card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    flex-grow: 1;
    margin: 5px;
}

.card ul li, .card img{
    list-style: none;
    background-color:rgba(255,255,255,0.75);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 1.25em;
    padding: .5em;
    width: 75%;
    margin-bottom: 5px;
}

#distance-slider,#elevation-slider{
    margin: 2em;
}

#city-input{
    height: 50px;
    font-size: 1em;
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 1em;
    border-radius: 5px 5px 5px 5px;
    border: none;
}

.card label{
    color: white;
    font-size: 1em;
}


#max-distance{
    width: 100%;
    margin-top: 50px;
}

.card p, .card cite{
    padding: 1em;
    text-justify: distribute;
}


.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

.hike-filters{
    background: white;
    display: none;
}
.hike-filters h1{
    margin-left: .5em;
}

.hike-filters ul li{
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    border-radius: 5px;
    text-decoration: none;
}

.hike-filters-selected{
    background-color: gray;
}

.hike-results{
    background-color: darkolivegreen;
    padding-top: (inherit + 3em);
    margin-top: -3em;
}

.hike-results .card p{
    margin: 1em;
    padding: 0 1em 0 1em;
}

.hike-results h1{
    font-size: 2em;
    color: white;
    display: block;
    width: 100%;
    margin-left: 1em;
    padding-top: 1em;
}

.hike-results h2{
    padding: 1em;
}

.weather{
    margin: auto;
    display: block;
    height: 75px;
    width: 75px;
    background-size: cover
}

.hike-photo{
    height: 250px;
    width: 250px;
    background-size: cover;
    margin: auto;

}

.form-submit{
    display: block;
    width: fit-content;
    text-align: center;
    background-color: white;
    padding: 1em;
    text-decoration: none;
    color: black;
    height: 3em;
    border: 5px black;
    border-radius: 5px;

}
.pref-button{
    margin: 1em auto;
    width: 100%;

}

#pref-submit{
    background-color: lightgrey;
    margin-top: 3em;
}



.hike-photos{
    background-color: white;
    background-size: cover;
    margin: 0 auto 0 auto;
    
}
.hike-photos  img{
    margin:.5em auto;
}

.card h1{
    padding: .5em;
    margin-left: .5em;
    display: block;

}

#hamburger-menu i,#hamburger-menu i:visited{
    float: left;
    color: #1C3238;
    font-size: 1.5em;
}

#top-bar ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#top-bar ul li a, #top-bar ul li a:visited{
    display:block;
    color:  #1C3238;
    text-decoration: none;
    margin-right: 1em;
} 


footer{
    text-align: center;
    padding: .5em;
    background-color: white;
}

.toggle-content {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

/* Responsive Media Queries */
@media (min-width: 598px){
 header{
     height: 400px;
 }

 #hamburger-menu{
     display: none;
 }

 .logo{
     display: none;
 }

 #top-bar ul{
    display: flex;
    justify-content: left;
 }

 footer{
     text-align: left;
 }
}

@media (min-width: 768px){

    header{
        background-image: url('../img/large-welcome.jpg');
        height: 500px;
    }
    .detail-header,.card-container .options{
        background-image: url('../img/large-detail.jpg');
        height: 500px;

    }

    .hike-photos{
        flex-grow: 1;
        
    }
}

@media (min-width: 1081px){

    .hike-description,.hike-detail,.hike-photos{
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 1em;
    }
    .card-container{
        padding: 0;
    }
    
    
}



