$myBlue: #274476;

//general cross all page styling
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#list {
    background-color: $myBlue;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 10%;
    color: white;
    li{
        color: white;
    } 
}

.container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
}

header {
    padding: 0;
    margin: 0;
}

.navbar {
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2% 10%;
    i{
        color: white;
    }
    a{
        color: white;
    }
    h2 {
        color: white;
        font-size: 0.8em;
        padding: 0;
        margin: 0;
        margin-left: 1em;
        font-weight: bold;
    }
}

.navbar > img {
    display: none;
}

.closebtn {
    display: none;
}

#headline {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

#searchBox {
    margin-top: 1em;
    margin-left: 5%;
    padding-bottom: 40%;
}

input {
    border-radius: 2em;
    text-align: center;
    border: none;
    margin-right: 5px;
}

button {
    border-radius: 2em;
    border:none;
}

.content {
    background-color: white;
    margin: 0;
    padding: 1em 3em;
}

#cards {
    margin-top: 10%;
}

.card {
    margin: 5%;
}

.card-text {
    padding-bottom: 0;
}

.card-body img {
    width: 100%;
}

.refer {
    background-image: url("../img/nature-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1em;
    padding-bottom: 5em;
}

footer {
    background-color: $myBlue;
    color: white;
    height: 2%;
    text-align: center;
    padding-top: 1em;
    main {
        height: 100%;
        position: relative;
    }
    p {
        margin: 0.5em;
    }
}

#mountain {
    height: 2em;
    margin-left: 0.5em;
}

//styling the home page
.home {
    background-image: url("../img/nature-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    body{
        background-color: white;
    }
    .chunk{
        padding: 0;
    }
}

// styling the permit page
.permit {
    background-image: url("../img/rock-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    html{
        background-color: white;
    }
    i {
        color: white;
    }
    .navbar {
        margin-bottom: 0;
    }
    .container2 {
        margin-top: 10%;
        h2 {
            color: $myBlue;
        }
        .btn{
            margin-top: 1em;
            right: 1em;
            margin-left: 80%;
        }
    }
}

//styling the location page
.location {
    background-image: url("../img/nature-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    img{
        height: 200px;
    }
    ul{
        list-style-type: square;
        text-align: left;
    }
    .navbar {
        margin-bottom: 0;
    }
    header {
        margin-bottom: 10%;
    }
    #background{
        background-color: white;
        margin: 5%;
        opacity: 0.8;
        border-radius: 20px; 
        h4{
            margin: 0;
        }
        ul{
            text-align: left;
            list-style: none;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        img{
            width: 15px;
            height: 15px;
            margin-left: 1em;
        }
        .row {
            padding-bottom: 2em;
        }
        .slidecontainer{
            height: 50px;
            width: 100%;
            text-align: center;
            /* The slider itself */
            .slider {
                -webkit-appearance: none;  /* Override default CSS styles */
                appearance: none;
                width: 60%; /* Full-width */
                height: 8px; /* Specified height */
                background: #d3d3d3; /* Grey background */
                outline: none; /* Remove outline */
                opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                transition: opacity .2s;
                border-radius: 5px; 
            }

            /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 10px; /* Set a specific slider handle width */
                height: 10px; /* Slider handle height */
                background: $myBlue; /* Blue background */
                cursor: pointer; /* Cursor on hover */
                border-radius: 5px; 
            }

            .slider::-moz-range-thumb {
                width: 10px; /* Set a specific slider handle width */
                height: 10px; /* Slider handle height */
                background: $myBlue; /* Blue background */
                cursor: pointer; /* Cursor on hover */
                border-radius: 5px; 
            }

            /* Mouse-over effects */
            .slider:hover {
                opacity: 1; /* Fully shown on mouse-over */
            }
        }
    }
    #background:hover {
        opacity: 1;
    }
    #search {
        margin-left: 5%;
    }
    #advance {
        margin-left: 5%;
        img {
            margin: 0;
        }
    }
    #filter{
        display:none;
    }
    #searchBox{
        margin: 0;
        padding: 3% 10%;
    }
    #empty {
        height: 400px;
    }
    .alert{
        margin: 10% 20%;
    }
}

//the footer information
#reference{
    background-color: $myBlue;
    text-align: center;
    padding: 2em;
    bottom:0;
    width:100%; 
    a{
        color: white;
    }
}

/* this is the sliding menu for small screen only*/
@media (max-width: 576px) {
    #menu {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    #menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $myBlue;
        display: block;
        transition: 0.2s;
    }

    /* When you mouse over the navigation links, change their color */
    #menu a:hover {
        color: #99ccff;
        background-color: rgba($color: grey, $alpha: 0.1);
    }

    #menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

//style for screen bigger than 576px
@media (min-width: 576px) {
    #searchBox {
        display: flex;
        justify-content: center;
        padding-bottom: 20%;
    }
    #headline {
        display: flex;
        justify-content: center;
        h1 {
            font-size: 0.8em;
        }
    }
    input{
        height: 2em;
        width: 15em;
    }
    button {
        height: 2em;
        width: 2em;
    }
    h2{
        text-align: center;
    }
    #menu {
        display: flex;
        a {
            text-decoration-line: none;
        }
        h3 {
            color: white;
            font-size: 0.6em;
            padding: 0;
            margin: 0;
            padding-left: 2rem;
            text-align: center;
            font-weight: normal;
        }
        h3:hover {
            color: $myBlue;
        }
    }
    #hamburger-menu {
        display: none;
    }
    .navbar > img {
        margin-left: 0;
        display: flex;
        height: 2em;
    }
    .navbar {
        padding: 0;
        h2 {
            display: none;
        }
    }
    .info {
        font-size: 0.6em;
    }
    .home .btn {
        display: none;
    }
    .permit {
        .btn {
            display: none;
        }
    }
    .location{
        #trailList{
            img {
                height: 225px;
            }
        }
        #empty {
            height: 500px;
        }
        .card {
            margin: 5% 0;
        }
        #background{
            #legend{
                input{
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}

//styling for screen bigger than 768px
@media (min-width: 768px){
    #refer {
        background-image: url("../img/nature-medium.jpg");
    }
    #headline h1{
        font-size: 0.8em;
    }
    .info {
        font-size: 1em;
    }
    .permit {
        background-image: url("../img/rock-medium.jpg");
        .btn {
            display: initial;
        }
    }
    .home {
        background-image: url("../img/nature-medium.jpg");
        .btn {
            display: initial;
        }
    }
    .location{
        #trailList{
            img {
                height: 250px;
            }
        }
        .alert{
            margin: 5% 30%;
        }
        #searchBox{
            margin: 0 30%;
            padding: 1em 0;
        }
        #filter{
            padding: 0 10%;
        }
    }
}

//styling for screen bigger than 992px
@media (min-width:992px){
    #menu {
        h3 {
            font-size: 0.7em;
            padding-left: 1.5em;
        }
        a{
            margin-right: 1em;
        }
    }
    #headline {
        font-size: 2.5em;
        h1 {
            font-size: 1em;
        }
    }
    .info {
        font-size: 1.2em;
    }
    .container2 {
        padding: 5%;
        padding-top: 20%;
    }
    .home {
        #searchBox{
            padding-bottom: 27%;
        }
        .chunk{
            padding: 0;
        }
        #list {
            padding: 0;
            padding-top: 5%;
            p {
                padding: 0 10%;
            }
        }
    }
    .permits {
        padding: 0;
        background-size: cover;
        .card {
            margin: 1%;
        }
    }
    .location {
        .cardSet{
            margin: 0;
        }
        #trailList {
            img{
                height: 300px;
            }
            a{
                display: initial;
            }
        }
        #filter{
            padding: 0 20%;
        }
    }
}

//styling for screen bigger than 1200px
@media (min-width: 1200px){
    #refer {
        background-image: url("../img/nature-big.jpg");
    }
    #menu h3 {
        padding-left: 2em;
    }
    .home {
        background-image: url("../img/nature-big.jpg");
    }
    .permit {
        background-image: url("../img/rock-big.jpg");
    }
    .location{
        .cardSet{
            margin: 0;
        }
        #trailList img{
            height: 200px;
        }
        .alert{
            margin: 5% 40%;
        }
    }
}
