$myBlue: #185b64;

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: inherit;
    background-color: $myBlue;
    color: white;
    text-align: center;
    min-height: 2em;
    
    .row{
        margin: 0;
    }
    
    a{
        color: white;
    }
    p {
        margin: 0 0.5em;
    }
    #mountain {
        height: 2em;
        margin-left: 0.5em;
    }


}
