$myBlue: #274476;

footer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: $myBlue;
    color: white;
    text-align: center;
    padding-top: 1em;
    main {
        height: 100%;
        position: relative;
    }
    p {
        margin: 0.5em;
    }
    #mountain {
        height: 2em;
        margin-left: 0.5em;
    }
}