$myBlue: #87b1fa;

header {
    background-image: url('./img/nature2-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding: 20px 0;
    #headline {
        color: white;
        background-color: rgba(39, 68, 118, .1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    form{
        margin: 1em 30px;
    }
    
    #searchBox {
        width:100%;
    }
    
    input {
        border-radius: 2em;
        text-align: center;
        border: none;
        margin: 10px;
    }
    
    button {
        border-radius: 2em;
        border:none;
        margin: 5px;
    }
}
