$myBlue:  #185b64;

header {
    background-image: url('./img/nature2-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    padding: 20px 0;
    text-align: center;
    text-shadow: 1px 1px $myBlue;
    #headline {
        color: white;
        font-size: 1em;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 1em 30px;
    }
    
    #searchBox {
        opacity: 0.8;
        width:100%;
        img {
            height: 35px;
            padding-bottom: 15px;
        }
    }
    #searchBox:hover {
        opacity: 1;
    }
    
    input {
        border-radius: 2em;
        text-align: center;
        border: none;
        margin: 10px;
        box-shadow: 1px 0.5px $myBlue;
    }
    
    #searchBar {
        width: 175px;
        height: 30px;
    }
    
    .btn {
        height: 30px;
        border-radius: 2em;
        border:none;
        margin: 5px;
        box-shadow: 0.5px 0.5px $myBlue;
    }
}

@media (min-width: 576px) {
    header #searchBar {
        width: 300px;
    }
}
