$color: #386375;

.detail-hike{
    padding-left: 1em;
    padding: 2em;
    background-color: $color;

    .img-holder{
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: bottom;
        margin-top: 2em;
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin-top: 5px;
            margin-right: 1em;
            padding: 1em;
            background: white;
        }
    }

    div{
        padding-bottom: 2em;
        padding-top: 2em;
    }

    div.card-body{
        margin: 0;
        padding: 0 1em 0 1em;
    }



h2{
    text-align: left;
    color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 1em;
}

.test {
    width: 100%;
}

textarea {
    margin: 0px;
    padding: .5em;
    height: 150px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

form {
    padding: 0px;
    margin: 2em 0 0 0;
    border: 0px;
    text-align: left;
}

.my-form-control {
    width:75%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.hidden {
    left:-999;
    color: rgba(0,0,0,0)
}

.comments-holder {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: 100%;
    margin-top: 2em;

}


.comment-box {
    border: 1px solid black;

}

button{
    a,a:hover,a:visited{
        color: white;
    }
}

h1{
    letter-spacing: -1px;
}
}