$myError: #ff7272;

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home{
    min-height: 100%;
}

.error-message {
    background-color: $myError;
    color: white;
    padding: 1em;
  }
