$myBlue:  #185b64;

main{
    box-sizing: border-box;
    padding: 20px 0;
    padding-bottom: 5em;
}


.container {
    padding: 0;
    display: flex;
    overflow: hidden;
    height: 130vh;
    position: relative;
    width: 100%;
    flex-wrap: wrap; 
    backface-visibility: hidden;
    will-change: overflow; 
    #map, #card{
        overflow: auto;
        height: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }
    #map{
        height: 45%;
        width: 100%;   
        margin: 5% 10%;                   
    }
    #card{
        height: 55%;
        overflow: scroll;
    }
}

@media (min-width: 768px){
//citation: learning from online resources about scrolling
    .container {
        padding: 0;
        display: flex;
        overflow: hidden;
        height: 70vh;
        position: relative;
        width: 100%;
        backface-visibility: hidden;
        will-change: overflow;
        #map, #card{
            overflow: auto;
            height: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
        }
        #map{
            width: 60%;
            height: 100%;
            margin: 0;   
        }
        #card{
            width: 40%;
            padding-left: 20px;
        }
    }
}