$myBlue:  #185b64;

*{
    scroll-behavior: smooth;
}

main{
    box-sizing: border-box;
    padding: 20px 0;
}

.container {
    margin:0 auto;
    padding: 0;
    display: flex;
    // position: relative;
    width: 100%;
    // justify-content: center;
    flex-wrap: wrap; 
    // backface-visibility: hidden;
    // will-change: overflow; 
    // #map, #card{
    //     -webkit-overflow-scrolling: touch;
    //     -ms-overflow-style: none;
    // }
    #map{
        width: 100%;
    }
    #card{
        margin: 20px;
    }
}


@media (min-width: 991px){
//citation: learning from online resources about scrolling
    .container {
        flex-wrap: nowrap;
        // padding: 0;
        // display: flex;
        // position: relative;
        // width: 100%;
        // backface-visibility: hidden;
        // will-change: overflow;
        // #map, #card{
        //     height: auto;
        //     -webkit-overflow-scrolling: touch;
        //     -ms-overflow-style: none;
        // }
        // #map{
        //     height: 100%;
        // }
        // #card{
            
        // }
    }
}