$myBlue: #185b64;

nav {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 3em;
    text-align: center;
    padding: 0.5em 0;
    color: $myBlue;
    img{
        height: 2.2em;
        width: 2em;
        float: left;
        margin: 0 1.5em;
        margin-right: 0;
    }
    h1{
        padding: 0;
        margin: 0;
        font-size: 2em;
    }
    ul{
        display: none;
    }
}

/* this is the sliding menu for small screen only*/
@media (max-width: 576px) {
    #menu {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        /* The navigation menu links */
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $myBlue;
            display: block;
            transition: 0.2s;
        }   
        /* When you mouse over the navigation links, change their color */
        a:hover {
            color: #99ccff;
            background-color: rgba($color: grey, $alpha: 0.1);
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
    #menu.isOpen{
        width: 300px;
        a{
            color: $myBlue;
        }
    }
    #menu.isClose{
        width: 0px;
    }   
}

@media (min-width: 576px) {
    #menu{
        display: none;
    }
}