$myBlue:  #185b64;

.card{
    margin: 10px auto;
    flex-basis: 300px;
    .hoverText{
        position: relative;
        height: 200px;
        img{
            display: block;
            width: 100%;
            height: 200px;
        }
        p{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 3em 1em;
            opacity: 0;
            height: 200px;
            transition: .5s ease;
            background-color: rgba($color: #185b64, $alpha: 0.5);
            color: white;
        }
    }
    .hoverText:hover p{
        opacity: 1;
    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;

    .row{
        padding: 0;
        margin: 0;
    }

}

.rating {
    img{
        height: 15px;
        width: 15px;
    }
}

.diff {
    img{
        height: 15px;
        width: 15px;
    }
}

.btn {
    color: white;
    margin-top: 1em;
}