$myBlue:  #185b64;

.hike-results {

    padding-top: 3em;
}

.card{
    margin: 10px auto;
    flex-basis: 300px;
    background-color:  white;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    background: linear-gradient(to bottom, #729BB4, #1C3238);

}

.card img{
    width: 100%;
    height: 200px;
}

.rating {
    img{
        height: 15px;
        width: 15px;
    }
}

.diff {
    img{
        height: 15px;
        width: 15px;
    }
}

.btn {
    color: white;
    margin-top: 1em;
}

.pagination-holder{
    display: flex;
    justify-content: center;
    width:100%;
    height: 3.5em;
    margin: 1em;
    padding: 0;
    background-color: white;
    li {
        padding: 1em 0.8em;
    }
    li.first{
        display: none;
    }
    li.last{
        display: none;
    }
    li.active a{
        background-color: $myBlue;
        padding: 1em;
        color: white;
    }
}
