.no-sign-in {
    text-align: center;
    background: url('./img/mountain-background.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.btn {
    margin-top: 10%;
    padding: 1%;
}