h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

hidden {
    position: relative;
    left: -99999;
    color: rgba(0,0,0,0);
}

.border {
    padding: 10px;
}

